<!-- templates/accounts/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Set New Password - Excel Academy{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Set New Password</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input class="form-control" id="id_new_password1" type="password" name="new_password1" placeholder="New password" required />
                            <label for="id_new_password1">New password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="id_new_password2" type="password" name="new_password2" placeholder="Confirm password" required />
                            <label for="id_new_password2">Confirm password</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary">Set Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}