<!-- templates/accounts/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password Reset Complete - Excel Academy{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Password Reset Complete</h3>
                </div>
                <div class="card-body">
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <div class="text-center">
                        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}